  <ul class="mt-1">
    <li class="list-group-item list-group-item-dark d-flex justify-content-between align-items-center">
      Comments:
    </li>
    <% @comments.each do |comment| %>
      <li class="list-group-item list-group-item-secondary d-flex justify-content-between align-items-center">
        <%= comment.content %>
        <span class="badge badge-pill badge-warning"><%= link_to "Delete", comment, method: :delete, data: { confirm: "Are you sure?" } %></span>
      </li>
    <% end %>
  </ul>