<div class="row justify-content-center">
  <div class="col-12">
    <%= form_with(model: @comment, local: true, url: post_comments_path(@post)) do |f| %>
      <div class="input-group mb-3">
        <%= f.text_field :content, class: "form-control shadow rounded", placeholder: "Write a Comment..." %>
        <%= f.submit "Post", class: "btn btn-outline-light" %>
      </div>
    <% end %>
    <%= render 'shared/errors', obj: @comment %>
  </div>
</div>