<div class="row justify-content-center">
  <div class="col">
    <div class="tab-pane row m-1">
      <div class="col">
        <%= link_to comment.guest.username, user_path(comment.guest), class: "text-success" %> :
          <span class="col"><%= comment.content %></span>
      </div>
      
      <div class="col"><small><<%= comment.updated_at.strftime("%I:%M %m/%d/%Y") %>></small></div>
    
      <div class="col">
        <% if logged_in? && @post.user == current_user || current_user.admin? %>
        <%= button_to "x", comment_path(comment), method: :delete, data: {confirm: 'Are you sure?'}, class:"close" %>
      <% end %>
      </div>
    </div>
  </div>
</div>