<div class="d-flex justify-content-between">
  <div class="p-2">
    <%= link_to comment.guest.username, user_path(comment.guest), class: "text-success" %> :
    <span class="m-2"><%= comment.content %></span>
  </div>
  
  <div class="p-2">
    <small><<%= comment.updated_at.strftime("%k:%M %m/%d/%Y") %>></small>
    <span class="m-2">
      <% if logged_in? && (comment.post.user == current_user || current_user.admin?) %>
      <%= link_to "x", comment_path(comment), method: :delete, data: {confirm: 'Are you sure?'}, class:"close" %>
      <% end %>
    </span>
  </div>
</div>
